<!doctype html>
<html>
  <head>
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <link rel="canonical" href="<%= current_page.data.url %>" />

    <%= stylesheet_link_tag "style" %>

    <title><%= current_page.data.title %></title>

    <meta name="description" content="<%= current_page.data.description %>"/>

    <meta name="viewport" content="width=520">

    <meta property="og:type" content="<%= current_page.data.share_type %>" />
    <meta property="og:title" content="<%= current_page.data.title %>" />
    <meta property="og:description" content="<%= current_page.data.description %>" />
    <meta property="og:url" content="<%= current_page.data.url %>" />
    <meta property="og:image" content="<%= current_page.data.share_image %>" />

    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:site" content="@___leigh___"/>
    <% if current_page.data.twitter_creator %>
    <meta name="twitter:creator" content="<%= current_page.data.twitter_creator %>"/>
    <% end %>

    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  </head>

  <body class="page <%= page_classes %>">
    <%= yield %>
    <script src="data:text/javascript;base64,<%= Base64.encode64(partial("ga.js")).gsub(/\r\n|\r|\n/m, "") %>" async="defer"></script>
  </body>
</html>
